@font-face {
    font-family: Quantum;
    src: url(Quantum.otf);
}
@font-face {
    font-family: Bebas-Regular;
    src: url(Bebas-Regular.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #182234 16.62%, #0A1F49 85.61%);

}
.cabecalho{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    font-family: 'Bebas-Regular';
    color: aliceblue;
    position: absolute;
    width: 705.48px;
    height: 128.79px;
    left: 952px;
    top: 32px;

}

.wszarnik{

    position: absolute;
    width: 232px;
    height: 63px;
    left: 166px;
    top: 11px;

    font-family: 'Quantum';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 63px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudo{
    position: absolute;
    width: 1900.00px;
    height: 0px;
    left: 0px;
    top: 96px;

    border: 0.4px solid rgba(30, 238, 151, 0.63);
}
.box{
    
    box-sizing: border-box;
    position: absolute;
    width: 430px;
    height: 430px;
    left: 204px;
    top: 161px;

    border: 2px solid rgba(30, 238, 151, 0.63);
    border-radius: 30px;
}

.wellcome{
    padding: 10px;
    font-family: 'Bebas-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
}

.sobre{
   
    padding: 10px;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

color: #FFFFFF;
}
.redes{
    

    position: absolute;
    width: 349px;
    height: 101px;
    left: 245px;
    top: 429px;
    
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
}

.eu{
    width: 316px;
    height: 316px;
    left: 1243px;
    top: 207px;
    border-radius: 90%;

    box-sizing: border-box;
    position: absolute;
    width: 430px;
    height: 430px;
    left: 1065px;
    top: 161px;
}

.imgs{
    padding: 20px;
}

.titulo-projetos{
    position: absolute;
    width: 375px;
    height: 39px;
    left: 765px;
    top: 717px;

    font-family: 'Quantum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    Line-height: 39px;


    text-align: center;

    color: #FFFFFF;

    border-top: 1px solid rgba(30, 238, 151, 0.63);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.ListShope{
    box-sizing: border-box;

    position: absolute;
    width: 1438px;
    height: 350px;
    left: 227px;
    top: 940px;
    border: 4px solid rgba(255, 255, 255, 0.63);
    border-radius: 49px;
}

.listimg{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 56px;
    top: 20px;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
}

.lisdesc{
    position: absolute;
    width: 998px;
    height: 115px;
    left: 414px;
    top: 72px;

    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.btnlist{
    position: absolute;
    width: 307px;
    height: 49px;
    left: 411px;
    top: 172px;

    background: #FFFFFF;
    border-radius: 16px;
    font-family: 'Bebas-Regular';
    font-size: 24px;

}
